@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;900&family=Epilogue:wght@200;300;400&family=Poppins:wght@400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Rubik+Mono+One&display=swap');
.lang_cont{
    background-color: #021027;;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: #7585a1;;
    padding: 12% 0;
}
.spk_cont{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}
.spk_cont h2{
    margin-top: 5px;
}
.langs{
    display: flex;
}

.langs > div {
    padding: 20px;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 280px;
    border: 2px solid #7585a1;
    margin: 0 50px;
    font-family: 'Poppins', sans-serif;
}
.div1:hover{
    box-shadow: 4px 4px 3px #888888;
}
.div1 h1{
    font-size: 4.2rem;
}

.div p{
    margin-top: 5px;
}

@media screen and (max-width: 767px) {
    .lang_cont {
        padding: 18% 0;
    }

    .lang_cont .langs {
        flex-direction: column;
    }
    .langs > div {
        margin: 20px 0;
    }

    .langs > div:last-child {
        margin-bottom: 0;
    }

    .spk_cont > h1 {
        font-size: 40px;
    }
    .spk_cont > h2 {
        font-size: 30px;
    }
}