@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;900&family=Epilogue:wght@200;300;400&family=Poppins:wght@400;600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Rubik+Mono+One&family=Spectral:wght@300;400;500&display=swap');


.chart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 12% 0;
}

.chart h2{
    font-family: 'Cairo', sans-serif;
    color: #7585a1;
    font-size: 35px;
    font-weight: bold;
    
}
.chart_line{
    width: 850px;
    text-align: center;
    margin-top: 4%;
}

@media screen and (max-width: 767px) {

    .chart_main .chart{
        padding: 18% 0;
    }
    .chart_main .chart_line {
        width: 100%;
    }
}